@import url("https://fonts.googleapis.com/css2?family=Megrim");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

:root {
  --main-color: #9d38fc;
  --main-hover-color: #9d38fcb8;
  --dark-primary-color: #101015;
  --dark-secondary-color: #252525;
  --dark-primary-hover-color: #101015b8;
  --dark-secondary-hover-color: #252525b8;
  --error-color: #ff3636;
  --error-hover-color: #ff3636b8;
  --light-primary-color: white;
  --light-secondary-color: #ededed;
  --light-backup-color: #5f5d5d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: overlay;
  margin: 0;
}

a {
  text-decoration: none;
}

.flex,
.icons,
.searched-song {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.center {
  display: grid;
  place-items: center;
}

.grid {
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: grid;
}

.icons {
  margin-bottom: 20px;
  opacity: 0.6;
}

header {
  padding: 20px;
  background-color: var(--main-color);
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home .post-list,
.saved-posts .post-list,
.user-list,
.notif-list,
.cm-list,
.setting .auth-form,
.add-post .auth-form,
.reset-password .auth-form,
.search-explore,
.chats,
.new-chat {
  margin-top: 100px !important;
}

.post-list,
.setting {
  flex-direction: column;
}

.new-chat .search-bar {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

header a,
header p,
#website-name {
  color: var(--light-primary-color);
  font-family: "Megrim";
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
}

.search-explore #website-name,
.app-description #website-name {
  font-size: 40px;
  color: var(--main-color);
}

.footer {
  border-radius: 20px 20px 0 0;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--light-primary-color);
}

footer img {
  opacity: 0.6;
}

footer img:focus,
.home #home-icon,
.search #search-icon,
.notification #notif-icon,
.profile #user-icon {
  opacity: 1;
}

.home #home-icon,
.profile #user-icon,
.notification #notif-icon,
.search #search-icon {
  opacity: 1;
}

.search-bar {
  background-color: var(--main-color);
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-bar input,
#comment-text,
#search-input {
  border-radius: 5px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 20px;
  width: 70%;
  font-family: "Montserrat", sans-serif;
}

#search-input {
  width: 90% !important;
  margin-top: 120px;
}

#search-modal .search-results {
  margin-top: 100px;
}

#search-input,
.search-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.song-search {
  margin: 0 !important;
}

.song-cover {
  height: 60px;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: 1px solid var(--light-secondary-color);
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-backup-color);
}

.notification-header,
.profile header p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

.loader {
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.loader-icon {
  font-family: megrim;
  background-color: var(--main-color);
  color: var(--light-primary-color);
  font-size: 10rem;
  animation: pulse 1s infinite;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.logo-loader {
  font-family: megrim;
  background-color: var(--main-color);
  color: var(--light-primary-color);
  font-size: 2rem;
  animation: pulse 1s infinite;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 20px;
}

#loader {
  margin: 0;
}

.post-user p {
  font-size: 18px;
  margin-left: -2px;
}

#back-link,
#more,
.close {
  border: 0;
  background-color: transparent;
}

.post-user {
  justify-content: left;
  gap: 7px;
}

#like-count,
#like-btn,
#delete-btn,
.save-icon,
.v-user {
  transition: 0.2s;
}

.Toastify__toast {
  background: var(--main-color) !important;
}

@keyframes pulse {
  0% {
    box-shadow: var(--main-color) 0 0 0 0;
  }
  80% {
    box-shadow: #9d38fc00 0 0 0 20px;
  }
}

.login,
.setting {
  min-height: 100vh;
}

.song-preview {
  display: none;
}

.auth-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 60vw;
  text-align: center;
  margin: 50px;
}

.setting .auth-form {
  margin: 50px 0 30px 0;
}

.google {
  margin: 20px;
}

hr {
  border: 0.5px solid var(--light-secondary-color);
  width: 100px;
}

#login-logo {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 5rem;
  font-family: megrim;
  color: var(--main-color);
}

.auth-form input,
.auth-form textarea {
  width: 50vw;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}

.auth-form .flex input {
  width: 30vw;
  margin-bottom: 0;
}

.auth-form .flex {
  margin-bottom: 20px;
}

.setting .auth-form .flex {
  margin-bottom: 30px;
}

.btn,
.follow-btn,
.unfollow-btn,
.search-btn {
  padding: 10px 20px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-color);
  color: var(--light-primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  border-radius: 5px;
  margin: 20px;
  transition: 0.5s;
}

.follow-btn,
.unfollow-btn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.unfollow-btn {
  color: var(--main-color);
  background-color: var(--light-primary-color);
}

.follow-btn,
.unfollow-btn {
  width: 50%;
}

.follow-btn:hover {
  background-color: var(--main-hover-color);
}

.btn:hover {
  background-color: var(--main-hover-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.follow-name {
  color: var(--light-backup-color);
}

a {
  color: var(--dark-primary-color);
}

.login a,
.signup a,
#reset-text,
#user-link,
.setting section a {
  color: var(--main-color);
}

.profile-info {
  text-align: center;
  margin: 100px 10% 20px 10%;
  border-bottom: 1px solid var(--light-secondary-color);
}

.profile-pic {
  padding: 2px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
}

.profile-pic img {
  border-radius: 50%;
}

.post-icons svg,
#delete-btn {
  width: 27px;
  height: 27px;
}

.post-icons {
  gap: 15px;
}

#like-btn,
#a-like {
  width: 23px;
  height: 24px;
}

#comments svg {
  width: 26px;
  height: 26px;
  margin-top: 6px;
}

#delete-btn:hover {
  fill: var(--error-color);
}

.follow-section {
  justify-content: space-evenly;
}

.flw-num {
  opacity: 0.6;
}

.post {
  margin: 20px;
  border-radius: 0.75rem;
  width: 550px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  word-wrap: break-word;
}

.post-info {
  margin-right: 10px;
  margin-left: 10px;
}

.post-caption {
  padding: 0 10px;
}

.post-song {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
}

#like-count {
  height: 20px;
  margin: 0;
}

.post-info {
  justify-content: space-between;
  margin-top: 10px;
}

.post-info svg path,
.song-btns img {
  transition: 0.3s;
}

.post-info svg:hover path {
  fill: var(--error-color);
}

#comments svg:hover path {
  fill: var(--light-backup-color);
}

#date {
  opacity: 0.5;
  font-size: 15px;
}

.share-info {
  padding-top: 10px;
}

.post-header .post-icons {
  height: 27px;
}

#delete-link {
  color: var(--error-color);
}

.share-info .grid {
  justify-content: flex-start;
}

.profile-notif,
.comment {
  border-radius: 10px;
  padding: 10px 20px;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  transition: 0.3s;
  gap: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: space-between;
  margin: 20px;
}

.mb-100,
main {
  margin-bottom: 100px;
}

.followers,
.followings,
.likes {
  margin-bottom: 0;
}

#edit-img {
  border-radius: 50%;
}

header h1 {
  color: var(--light-primary-color);
  margin: 0;
  font-size: 1.5rem;
}

#website-name {
  font-size: 30px;
}

input,
textarea {
  font-size: 16px;
}

#avatar {
  border-radius: 50%;
}

.header-icons .notification-icon {
  height: 30px;
}

#logout,
.contact-btn,
#confirm-delete,
#cancel-delete {
  color: var(--main-color);
  background-color: var(--light-primary-color);
  transition: 0.5s;
  border-radius: 5px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  border: none;
}

#logout,
.contact-btn {
  background-color: var(--error-color);
  color: var(--light-primary-color);
  width: 60vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .contact-btn {
  width: unset;
}

#logout:hover {
  background-color: var(--error-hover-color);
}

#add-btn {
  height: 25px;
}

audio {
  width: 100%;
}

#comments {
  height: 32px;
}

.post-comment {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.SpotifyPlayer {
  width: 100%;
  height: 352px;
}

.username {
  gap: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  border: none;
}

.modal-content {
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
}

form div:not(.form-group) .share-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0 10%;
  justify-content: center;
}

.modal-main p {
  text-align: left;
}

.password-field {
  position: relative;
}

.pw-img {
  position: absolute;
  top: 7px;
  right: 5vw;
  z-index: 2;
}

img {
  object-fit: cover;
}

canvas {
  display: none;
  border-radius: 10px;
}

.pwa canvas {
  display: block;
}

.verify {
  margin-left: -5px;
  height: 20px;
}

#comment svg {
  width: 28px;
  height: 28px;
}

.gap-5 {
  gap: 5px;
}

.liked {
  fill: var(--error-color) !important;
}

.saved {
  fill: gold !important;
}

.checkbox {
  width: 15px;
  height: 15px;
  padding: 2px;
  transition: 0.5s;
  background-color: inherit;
  border: 0.5px solid var(--light-backup-color);
  border-radius: 2px;
  transform: translateZ(0);
}

.show-password {
  justify-content: left;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25vw;
  margin-top: -20px;
}

.show {
  font-size: 14px;
  color: var(--light-backup-color);
}

.modal-text {
  background-color: #fefefe;
  margin: 150px auto;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.close {
  color: var(--light-backup-color);
  transition: 0.3s;
  font-size: 28px !important;
  float: left;
  font-weight: bold;
}

.modal-text .flex {
  margin-top: 30px;
}

#search-modal {
  height: 80vh;
  overflow: auto;
}

#confirm-delete {
  background-color: var(--error-color);
  color: var(--light-primary-color);
  width: 150px;
}

#confirm-delete:hover {
  background-color: var(--error-hover-color);
}

#cancel-delete {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 150px;
}

.delete-btns {
  margin-top: 30px;
}

#post-caption {
  text-align: left;
  margin-bottom: 10px;
}

#reply-cm {
  height: 23px;
}

#reply-cm svg {
  width: 23px;
  height: 23px;
  stroke-width: 2px;
}

.cm-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.comment-buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comment-buttons .btn {
  margin: 0;
}

.reply {
  margin-left: 10%;
}

.cm-text {
  word-break: break-all;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: var(--light-primary-color);
  gap: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
}

.setting .search-btn {
  padding: 10px;
}

.search-btn p {
  margin: 11px 0;
}

.auth-form button {
  font-size: 14px;
}

#artist {
  font-weight: unset;
  opacity: 0.7;
  margin-top: -12px;
}

#search-modal .profile-notif {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  transition: 0.3s;
  margin: 15px;
}

.searched-song {
  justify-content: left;
}

#song-cover {
  border-radius: 5px;
}

#search-modal .profile-notif:hover,
.user-list .profile-notif:hover,
.contact-btn:hover,
.search-btn:hover,
#cancel-delete:hover,
.unfollow-btn:hover,
.v-user:hover {
  background-color: var(--light-secondary-color);
}

.password-options {
  gap: 0;
  width: 50vw;
}

.password-options a {
  font-size: 14px;
  margin-top: -20px;
}

.setting section {
  text-align: center;
}

.m-10 {
  margin: 10px;
}

.file-input::-webkit-file-upload-button {
  font-family: "Montserrat", sans-serif;
  background-color: var(--main-color);
  color: var(--light-primary-color);
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.file-input::-webkit-file-upload-button:hover {
  background-color: var(--main-hover-color);
}

h1 {
  font-size: 25px;
}

.error-page .contact-btn {
  width: unset;
}

#logout,
.contact-btn {
  font-size: 14px;
}

.forgot-password a {
  text-align: right;
  width: 25vw;
}

.notification-icon {
  position: relative;
}

.new-notif {
  background-color: var(--error-color);
  color: var(--light-primary-color);
  border-radius: 5px;
  font-size: 13px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  animation: redPulse 1s infinite;
}

.post-error {
  width: 100%;
  height: 300px;
  background-color: var(--dark-primary-color);
  flex-direction: column;
  color: var(--light-primary-color);
  text-align: center;
  padding: 30px;
  gap: 1;
}

.error-icon {
  font-size: 35px;
  background-color: var(--light-primary-color);
  color: var(--dark-primary-color);
  display: grid;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#song-pre {
  display: none;
}

@keyframes redPulse {
  0% {
    box-shadow: var(--error-color) 0 0 0 0;
  }
  80% {
    box-shadow: #9d38fc00 0 0 0 20px;
  }
}

.post iframe,
.post-song,
.post-error {
  border-radius: 0.37rem;
}

.setting-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-btn {
  color: var(--main-color);
  background-color: var(--light-primary-color);
}

.post-header {
  justify-content: space-between;
  padding: 0 10px;
}

.search-type a {
  transition: border-bottom 0.2s;
  width: 100px;
  text-align: center;
}

.search-type .active {
  font-weight: 600;
  border-bottom: 2px solid var(--main-color);
}

.save-icon {
  fill: black;
}

.underline-notif {
  text-decoration: underline;
}

.save-svg:hover .save-icon {
  fill: gold;
}

#more {
  font-size: 40px;
  margin-top: -20px;
  padding: 0;
}

.post-options {
  position: relative;
}

.post-menu {
  position: absolute;
  overflow: hidden;
  top: 10px;
  right: 0;
  border-radius: 5px;
  background-color: var(--light-secondary-color);
  width: 180px;
  max-height: 0;
  transition: 0.8s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.post-menu li {
  padding: 10px 20px;
  transition: 0.3s;
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

.post-menu li:hover {
  background-color: var(--light-primary-color);
}

.pwa .modal-main {
  position: fixed;
  bottom: 0;
  background-color: var(--light-primary-color);
  margin: 0;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.install-header {
  justify-content: space-between;
}

.install-header button {
  border: 0;
  background-color: inherit;
  font-size: 30px;
  color: black;
}

.app-info {
  justify-content: left;
  background-color: var(--light-secondary-color);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.app-logo {
  background-color: var(--light-primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0;
  border-radius: 5px;
}

.app-name p {
  margin: 5px;
  font-size: 14px;
}

.app-link {
  opacity: 0.7;
}

.pwa .auth-form .flex {
  margin-bottom: 0;
}

.pwa .auth-form {
  padding: 20px;
}

.user-link {
  margin-top: 10px;
}

#user-link:hover {
  text-decoration: underline;
}

.setting .btn {
  margin-top: 50px;
}

.setting .search-btn {
  width: 50vw !important;
}

.song-btns {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 30px;
}

.choose-song {
  padding: 10px;
}

#search-modal .btn {
  margin: 0;
  padding: 5px 10px;
}

.song-btns img:hover {
  filter: contrast(0.7);
}

#pause-btn {
  margin-right: 3px;
}

.comment-message {
  word-break: break-word;
}

.comment-main,
.notif-main {
  flex-direction: column;
  align-items: baseline;
}

.profile-notif button {
  margin: 0 0 0 15px;
}

.notif-info,
.cm-info {
  padding-top: 15px;
}

.profile-notif p,
.comment p {
  margin: 0;
}

.comments {
  margin-bottom: 0;
}

.song-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.setting .auth-form label {
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
}

.login,
.signup {
  gap: 50px;
  padding: 75px;
}

.login .auth-form,
.signup .auth-form {
  margin: 0;
}

.app-description {
  text-align: center;
  flex-direction: column;
}

.app-description #website-name {
  color: var(--main-color);
  font-size: 35px;
}

#top-button {
  display: grid;
  border: 0;
  place-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--light-primary-color);
  position: fixed;
  right: 20px;
  font-size: 18px;
  bottom: 100px;
  transform: translateY(150px);
  transition: 0.4s ease;
  z-index: 4;
}

#top-button.active,
.chats #top-button {
  transform: translateY(0);
}

#top-button:hover {
  opacity: 0.8;
}

.chats #top-button {
  font-size: 30px;
}

.search-explore {
  text-align: center;
}

.verified-users .auth-form {
  margin: 0;
}

.search-explore {
  padding: 0 20px;
}

.v-user {
  width: 300px !important;
}

.v-user .bio {
  color: var(--dark-primary-color);
}

.header-icons {
  gap: 15px;
}

.chats .profile-notif {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.chats .new-notif {
  position: inherit;
}

dialog {
  background-color: inherit;
  border: 0;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.dialog {
  bottom: 0;
  width: 100% !important;
  overflow: hidden;
  max-width: unset;
  max-height: unset;
  border-radius: 20px 20px 0 0;
  margin: auto auto 0 auto !important;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-primary-color);
    color: var(--light-primary-color);
  }

  .pwa .modal-main,
  .unfollow-btn {
    background-color: var(--dark-secondary-color);
  }

  .v-user .bio {
    color: var(--light-secondary-color);
  }

  .post-menu,
  #cancel-delete,
  #search-modal,
  .search-results .profile-notif:hover,
  #search-modal .profile-notif:hover,
  .app-info,
  #search-modal input {
    background-color: var(--dark-primary-color);
  }

  .post-menu li:hover,
  #cancel-delete:hover {
    background-color: black;
  }

  .error-page .contact-btn {
    width: unset;
    background-color: var(--dark-primary-color);
  }

  .error-page .contact-btn:hover,
  .search-btn:hover {
    background-color: var(--dark-primary-hover-color);
  }

  .save-icon {
    fill: var(--light-primary-color);
  }

  .search-btn {
    background-color: var(--dark-primary-color);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  @keyframes pulse {
    0% {
      box-shadow: var(--main-color) 0 0 0 0;
    }
    80% {
      box-shadow: #9d38fc00 0 0 0 20px;
    }
  }

  .btn:hover {
    box-shadow: none;
  }

  #logout {
    box-shadow: none;
  }

  .contact-btn {
    background-color: var(--dark-secondary-color);
    color: var(--main-color);
    box-shadow: none;
  }

  input:focus-visible,
  button:focus-visible,
  textarea:focus-visible {
    outline: 1px solid var(--dark-secondary-color);
  }

  .contact-btn:hover,
  .unfollow-btn:hover,
  .v-user:hover {
    background-color: var(--dark-secondary-hover-color);
  }

  #delete-btn {
    fill: var(--light-primary-color);
  }

  a,
  #more,
  #like-count,
  .install-header button,
  dialog {
    color: var(--light-primary-color);
  }

  .user-list .profile-notif:hover {
    background-color: #343333;
  }

  .profile-info {
    border-bottom: 1px solid var(--dark-secondary-color);
  }

  ::-webkit-scrollbar-track {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--dark-secondary-color);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: black;
  }

  .footer {
    background-color: var(--dark-primary-color);
    box-shadow: none;
    border: 1px solid var(--dark-secondary-color);
    border-bottom: unset;
  }

  .post,
  .comment,
  .profile-notif,
  .auth-form,
  .modal-text,
  .post-comment {
    background-color: var(--dark-secondary-color);
    box-shadow: none;
  }

  .post-comment {
    border-top: 1px solid var(--light-backup-color);
  }

  .post-info svg path,
  #comment svg path {
    fill: var(--light-primary-color);
  }

  input,
  #image,
  textarea {
    background-color: var(--dark-primary-color);
    color: var(--light-primary-color);
  }

  input::placeholder,
  textarea::placeholder,
  #image {
    color: var(--light-backup-color);
  }

  .profile-pic {
    background-color: var(--light-backup-color);
  }

  #search-modal .profile-notif {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media only screen and (max-width: 950px) {
  .login,
  .signup {
    flex-direction: column;
    padding: 20px;
  }

  input:focus-visible,
  button:focus-visible,
  textarea:focus-visible {
    outline: none;
  }
}

@media only screen and (max-width: 600px) {
  .search-type a {
    width: 70px;
  }

  .animation {
    display: none;
  }

  #top-button {
    width: 50px;
    height: 50px;
    font-size: 15px;
  }

  .post-info svg:hover path {
    fill: currentColor;
  }

  .setting .auth-form {
    margin: 0 0 20px 0;
    padding-bottom: 5px;
  }

  .setting .auth-form button,
  .setting-btn {
    margin-bottom: 0;
  }

  #logout,
  .contact-btn {
    padding: 7px;
    width: 90vw;
  }

  .error-page .contact-btn {
    width: unset;
  }

  .search-btn,
  .setting .search-btn {
    width: 80vw !important;
  }

  #search-modal .profile-notif {
    display: block;
    padding-bottom: 10px;
  }

  .song-btns {
    margin-top: 10px;
  }

  .comment-buttons {
    grid-template-columns: auto;
  }

  .post {
    width: 90%;
    margin: 10px;
  }

  #delete-btn {
    width: 25px;
    height: 25px;
  }

  .post-info svg:hover {
    fill: currentColor;
  }

  .auth-form {
    width: 90vw;
  }

  .form-inputs .flex,
  .error-btns,
  .verified-users {
    flex-direction: column;
  }

  .song-url {
    flex-direction: column-reverse !important;
  }

  .form-inputs input,
  .auth-form .flex input,
  .form-inputs textarea {
    width: 80vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    -webkit-appearance: none;
    appearance: none;
  }

  .search-bar input {
    width: 80vw;
    -webkit-appearance: none;
    appearance: none;
  }

  #search-input,
  #comment-text {
    -webkit-appearance: none;
    appearance: none;
  }

  #search-input {
    width: 80% !important;
  }

  .password-options {
    flex-direction: row !important;
    width: 80vw;
  }

  .app-description {
    margin-top: 20px;
  }

  .forgot-password a,
  .show-password {
    width: 40vw;
  }

  .footer {
    justify-content: space-between;
    padding: 20px 10%;
  }

  .cm-text {
    word-break: break-word;
    text-align: left;
  }

  .profile header p {
    font-size: 1.5rem;
    max-width: 250px;
    word-wrap: break-word;
  }

  .follow-btn,
  .unfollow-btn {
    width: 100%;
  }

  h1,
  .notification header p,
  .profile header p {
    font-size: 20px;
  }

  .footer {
    padding-bottom: 30px;
  }

  .chats #top-button {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }

  #image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back-header h1 {
    margin: 10px 0;
  }

  header {
    padding: 10px 20px;
  }

  .home .post-list,
  .saved-posts .post-list,
  .notif-list {
    margin-top: 70px !important;
  }

  .user-list,
  .cm-list {
    margin-top: 90px !important;
  }
}
