@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow: overlay;
  margin: 0;
}

a {
  text-decoration: none;
}

.flex,
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grid {
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: grid;
}

.icons {
  margin-bottom: 20px;
  opacity: 0.6;
}

.header {
  padding: 20px;
  background-color: #9d38fc;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  top: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home .post-list,
.user-list,
.notif-list,
.cm-list,
.setting .auth-form,
.add-post .auth-form {
  margin-top: 100px !important;
}

.header a,
.header p {
  color: white;
  font-family: "Megrim";
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
}

.footer {
  border-radius: 20px 20px 0 0;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
}

.footer img {
  opacity: 0.6;
}

.footer img:hover {
  opacity: 1;
}

.home #home-icon,
.profile #user-icon,
.notification #notif-icon,
.search #search-icon {
  opacity: 1;
}

.search-bar {
  background-color: #9d38fc;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-bar input,
#comment-text,
#search-input {
  border-radius: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px 20px;
  width: 70%;
  font-family: "Poppins", sans-serif;
}

#search-input {
  width: 100%;
  margin: 0 15px;
}

.song-search {
  margin: 0 !important;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5f5d5d;
}

.notification .header p,
.profile .header p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.loader {
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.loader-icon {
  font-family: megrim;
  background-color: #9d38fc;
  color: white;
  font-size: 10rem;
  animation: pulse 1s infinite;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.logo-loader {
  font-family: megrim;
  background-color: #9d38fc;
  color: white;
  font-size: 2rem;
  animation: pulse 1s infinite;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#loader {
  margin: 0;
}

.post-user p {
  color: #9d38fc;
  font-size: 18px;
}

.post-user {
  justify-content: left;
}

#like-count,
#like-btn,
#delete-btn {
  transition: 0.2s;
}

@keyframes pulse {
  0% {
    box-shadow: #9d38fc 0 0 0 0;
  }
  80% {
    box-shadow: #9d38fc00 0 0 0 20px;
  }
}

.login,
.setting {
  min-height: 100vh;
}

.login {
  display: none;
}

.auth-form {
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 60vw;
  text-align: center;
  margin: 50px;
}

.setting .auth-form {
  margin: 50px 0 30px 0;
}

.google {
  margin: 20px;
}

hr {
  border: 0.5px solid #ededed;
  width: 100px;
}

#login-logo {
  margin-bottom: 30px;
  margin-top: 0;
  font-size: 5rem;
  font-family: megrim;
  color: #9d38fc;
}

.auth-form input,
.auth-form textarea {
  width: 50vw;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: "poppins", sans-serif;
  margin-bottom: 20px;
}

.auth-form .flex input {
  width: 30vw;
  margin-bottom: 0;
}

.auth-form .flex {
  margin-bottom: 20px;
}

.btn,
.follow-btn,
.unfollow-btn,
.search-btn {
  padding: 10px 20px;
  font-family: "poppins", sans-serif;
  background-color: #9d38fc;
  color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  transition: 0.5s;
}

.follow-btn,
.unfollow-btn {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.unfollow-btn {
  color: #9d38fc;
  background-color: white;
}

.follow-btn,
.unfollow-btn {
  width: 50%;
}

.follow-btn:hover {
  background-color: white;
  color: #9d38fc;
}

.unfollow-btn:hover {
  background-color: #9d38fc;
  color: white;
}

.btn:hover {
  background-color: white;
  color: #9d38fc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.follow-name {
  color: #5f5d5d;
}

a {
  color: #101015;
}

.login a,
.signup a {
  color: #9d38fc;
}

.profile-info {
  text-align: center;
  margin: 100px 10% 20px 10%;
  border-bottom: 1px solid #ededed;
}

.profile-pic {
  padding: 2px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.profile-pic img {
  border-radius: 50%;
}

.post-icons svg,
#delete-btn {
  width: 27px;
  height: 27px;
}

#like-btn,
#a-like {
  width: 23px;
  height: 24px;
}

#comments svg {
  width: 26px;
  height: 26px;
  margin-top: 6px;
}

#delete-btn:hover {
  fill: #ff3636;
}

.follow-section {
  justify-content: space-evenly;
}

.flw-num {
  opacity: 0.6;
}

.post {
  margin: 20px;
  border-radius: 0.75rem;
  width: 550px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  word-wrap: break-word;
}

#post-title {
  font-size: 20px;
  font-weight: 700;
}

#post-title,
#post-description,
.post-info,
.post-user {
  margin-right: 10px;
  margin-left: 10px;
}

.post-image {
  width: 100%;
  padding: 0 10px;
}

.post-info {
  justify-content: space-between;
}

.post-info svg path {
  transition: 0.3s;
}

.post-info svg:hover path {
  fill: #ff3636;
}

#comments svg:hover path {
  fill: #5f5d5d;
}

#date {
  opacity: 0.5;
}

.share-info {
  padding: 30px;
}

#delete-link {
  height: 27px;
}

.share-info .grid {
  justify-content: flex-start;
}

.profile-notif,
.comment {
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: space-between;
  margin: 20px;
}

#userId {
  font-weight: 700;
  opacity: 0.7;
}

#post-title2 {
  font-weight: 900;
  padding-left: 5px;
}

.mb-100 {
  margin-bottom: 100px;
}

#edit-img {
  border-radius: 50%;
}

.header h1 {
  color: white;
}

.back-header {
  padding: 0 20px;
}

input,
textarea {
  font-size: 16px;
}

#avatar {
  border-radius: 50%;
}

#logout,
.contact-btn,
#confirm-delete,
#cancel-delete {
  color: #9d38fc;
  background-color: white;
  transition: 0.5s;
  border-radius: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  border: none;
}

#logout,
.contact-btn {
  background-color: #ff3636;
  color: white;
  width: 60vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header .contact-btn {
  width: unset;
}

#logout:hover {
  background-color: white;
  color: #ff3636;
}

#add-btn {
  height: 25px;
}

audio {
  width: 100%;
}

#comments {
  height: 32px;
}

.post-comment {
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
  z-index: 100;
}

#cm-user {
  font-weight: 600;
  color: #9d38fc;
}

.SpotifyPlayer {
  width: 100%;
  height: 352px;
}

.username {
  gap: 5px;
}

.modal {
  display: none;
  color: #9d38fc;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: none;
}

.modal-content {
  background-color: white;
  background: white;
  width: 100vw;
  height: 100vh;
}

form div:not(.form-group) .share-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 0 10%;
  justify-content: center;
}

.modal-main p {
  text-align: left;
}

.password-field {
  position: relative;
}

.pw-img {
  position: absolute;
  top: 7px;
  right: 5vw;
  z-index: 2;
}

img {
  object-fit: cover;
}

canvas {
  display: none;
  border-radius: 10px;
}

#post-title {
  margin-top: 10px;
}

#post-description {
  margin-top: -20px;
}

.verify {
  margin-left: -5px;
  height: 20px;
}

#comment svg {
  width: 28px;
  height: 28px;
}

.gap-5 {
  gap: 5px;
}

.liked {
  fill: #ff3636 !important;
}

#user-bio {
  font-weight: 600;
  font-size: 18px;
}

.checkbox {
  width: 15px;
  height: 15px;
  padding: 2px;
  transition: 0.5s;
  background-color: inherit;
  border: 0.5px solid #5f5d5d;
  border-radius: 2px;
  transform: translateZ(0);
}

.show-password {
  justify-content: left;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 25vw;
  margin-top: -20px;
}

.show {
  font-size: 14px;
  color: #5f5d5d;
}

.delete-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  transition: 0.5s;
  z-index: 101;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-text {
  background-color: #fefefe;
  margin: 150px auto;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.close {
  color: #5f5d5d;
  transition: 0.3s;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text .flex {
  margin-top: 30px;
}

#confirm-delete {
  background-color: #ff3636;
  color: white;
  width: 200px;
}

#confirm-delete:hover {
  background-color: red;
}

#cancel-delete {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#cancel-delete:hover {
  background-color: #ededed;
}

#post-description,
#post-title {
  text-align: left;
}

#reply-a {
  height: 23px;
}

#reply-a svg {
  width: 23px;
  height: 23px;
  stroke-width: 2px;
}

.cm-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.comment-buttons {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comment-buttons .btn {
  margin: 0;
}

.reply {
  margin-left: 10%;
}

.cm-text {
  word-break: break-all;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9d38fc;
  background-color: white;
  gap: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0 10px;
  margin: 0;
  font-size: 16px;
}

.search-btn p {
  margin: 11px 0;
}

.auth-form button {
  font-size: 14px;
}

.search-btn:hover {
  background-color: #9d38fc;
  color: white;
}

.search-modal {
  width: 90vw;
  height: 80vh;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  left: 0;
  right: 0;
}

#artist {
  font-weight: unset;
  opacity: 0.7;
  margin-top: -12px;
}

.search-modal .profile-notif {
  padding: 0 10px;
  justify-content: left;
  transition: 0.3s;
  margin: 15px;
}

#song-cover {
  border-radius: 5px;
}

.search-modal .profile-notif:hover {
  background-color: #ededed;
}

.password-options {
  gap: 0;
  width: 50vw;
}

.password-options a {
  font-size: 14px;
  margin-top: -20px;
}

.setting section {
  text-align: center;
}

.setting section a {
  color: #9d38fc;
}

#reset-text {
  color: #9d38fc;
}

.m-10 {
  margin: 10px;
}

.file-input::-webkit-file-upload-button {
  font-family: "poppins", sans-serif;
  background-color: #9d38fc;
  color: white;
  border: none;
  border-radius: 10px;
  transition: 0.5s;
  padding: 5px 10px;
  font-size: 14px;
}

.file-input::-webkit-file-upload-button:hover {
  background-color: white;
  color: #9d38fc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
  font-size: 25px;
}

.contact-btn:hover {
  background-color: #ededed;
}

#logout,
.contact-btn {
  font-size: 14px;
}

.forgot-password a {
  text-align: right;
  width: 25vw;
}

.notification-icon {
  position: relative;
}

.new-notif {
  background-color: #ff3636;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  animation: redPulse 1s infinite;
}

.post-error {
  width: 100%;
  height: 300px;
  background-color: #101015;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 30px;
  gap: 0;
}

.error-icon {
  font-size: 35px;
  background-color: white;
  color: #101015;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#error-text {
  font-weight: 600;
}

@keyframes redPulse {
  0% {
    box-shadow: #ff3636 0 0 0 0;
  }
  80% {
    box-shadow: #9d38fc00 0 0 0 20px;
  }
}

iframe,
.post-image,
.post-error {
  border-radius: 0.75rem;
}

.setting-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-btn {
  color: #9d38fc;
  background-color: white;
}

.search-type {
  margin-bottom: 10px;
  margin-top: -25px !important;
}

.search-type a {
  transition: border-bottom 0.2s;
  width: 100px;
  text-align: center;
}

.search-type .active {
  font-weight: 600;
  border-bottom: 2px solid #9d38fc;
}

.artist-info {
  padding: 10px !important;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #101015;
    color: white;
  }

  .error-page .contact-btn {
    width: unset;
    background-color: #101015;
  }

  .error-page .contact-btn:hover {
    background-color: #252525;
    border: 1px solid black;
  }

  .file-input::-webkit-file-upload-button:hover {
    background-color: #101015;
    color: #9d38fc;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .search-btn {
    background-color: #101015;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  @keyframes pulse {
    0% {
      box-shadow: #9d38fc 0 0 0 0;
    }
    80% {
      box-shadow: #9d38fc00 0 0 0 20px;
    }
  }

  .btn:hover {
    background-color: #101015;
    color: #9d38fc;
    box-shadow: none;
  }

  .modal-content {
    background-color: #252525;
  }

  #logout {
    color: #101015;
    background-color: #ff3636;
    width: 60vw;
    box-shadow: none;
  }

  #logout:hover {
    color: #ff3636;
    background-color: #252525;
  }

  .contact-btn {
    background-color: #252525;
    color: #9d38fc;
    box-shadow: none;
    border: 1px solid #252525;
  }

  .contact-btn:hover {
    background-color: #101015;
  }

  .modal-main {
    background-color: #252525;
    box-shadow: none;
  }

  #delete-btn {
    fill: white;
  }

  a {
    color: white;
  }

  .search-results .profile-notif:hover {
    background-color: #101015;
  }

  #like-count {
    color: white;
  }

  .modal {
    background-color: #252525;
  }

  .profile-info {
    border-bottom: 1px solid #252525;
  }

  ::-webkit-scrollbar-track {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background: #252525;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: black;
  }

  .footer {
    background-color: #101015;
    box-shadow: none;
    border: 1px solid #252525;

    border-bottom: unset;
  }

  .post,
  .comment,
  .profile-notif,
  .auth-form,
  .modal-text {
    background-color: #252525;
    box-shadow: none;
  }

  .search-modal {
    background-color: #101015;
  }

  .search-modal input {
    background-color: #252525;
  }

  .post-info svg path,
  #comment svg path {
    fill: white;
  }

  input,
  #image,
  textarea {
    background-color: #101015;
    color: white;
  }

  input::placeholder,
  textarea::placeholder,
  #image {
    color: #5f5d5d;
  }

  .profile-pic {
    background-color: #5f5d5d;
  }

  .search-modal .profile-notif {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

@media only screen and (max-width: 600px) {
  .cm-info {
    width: 100%;
    margin-top: -20px;
  }

  .post-info svg:hover path {
    fill: currentColor;
  }

  .setting .auth-form {
    margin: 0 0 20px 0;
    padding-bottom: 5px;
  }

  .setting .auth-form button,
  .setting-btn {
    margin-bottom: 0;
  }

  #logout,
  .contact-btn {
    padding: 7px;
    width: 90vw;
  }

  .search-btn {
    width: 80vw;
  }

  .search-modal .profile-notif {
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  .comment-buttons {
    grid-template-columns: auto;
  }

  .post {
    width: 90%;
    margin: 10px;
  }

  #delete-btn {
    width: 25px;
    height: 25px;
  }

  .comment p,
  .profile-notif p {
    font-size: 15px;
  }

  .post-info svg:hover {
    fill: currentColor;
  }

  .auth-form {
    width: 90vw;
  }

  .form-inputs .flex {
    flex-direction: column;
  }

  .form-inputs input,
  .auth-form .flex input,
  .form-inputs textarea {
    width: 80vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .search-bar input {
    width: 80vw;
  }

  .password-options {
    flex-direction: row !important;
    width: 80vw;
  }

  .forgot-password a,
  .show-password {
    width: 40vw;
  }

  .footer {
    justify-content: space-between;
    padding: 20px 10%;
  }

  .comment,
  .profile-notif {
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    gap: 0;
    padding: 0 20px;
  }

  .cm-main,
  .notif-main {
    margin-bottom: -20px;
    align-items: baseline;
  }

  .user-list .profile-notif {
    padding: 20px;
  }

  .cm-text {
    word-break: break-all;
    text-align: left;
  }

  .profile .header p {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    max-width: 250px;
    word-wrap: break-word;
  }

  .follow-btn,
  .unfollow-btn {
    width: 100%;
  }

  h1,
  .notification .header p,
  .profile .header p {
    font-size: 20px;
  }

  .footer {
    padding-bottom: 30px;
  }

  #image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back-header h1 {
    margin: 10px 0;
  }

  .header {
    padding: 10px 20px;
  }

  .home .post-list,
  .notif-list {
    margin-top: 70px !important;
  }

  .user-list,
  .cm-list {
    margin-top: 90px !important;
  }
}
